<div class="sidePanelContent">

    <script type="text/ng-template" id="fileTree">
        <a ng-if="!file.isDirectory"
           ng-click="openNoDialog(file.path)">
            <span class="glyphicon glyphicon-file"></span>
            {{file.label}}</a>
        <a ng-click="file.open=!file.open" ng-if="file.isDirectory">
            <span class="glyphicon"
                  ng-class="{'glyphicon-triangle-right':!file.open,'glyphicon-triangle-bottom':file.open}"></span>
            {{file.label}}</a>
        <ul ng-if="file.isDirectory && file.open">
            <li ng-repeat="file in file.children" ng-include="'fileTree'"></li>
        </ul>
    </script>

    <ul ng-if="sortedPaths || sortedPaths.length>0">
        <li ng-repeat="file in sortedPaths.children" ng-include="'fileTree'"></li>
    </ul>

    <p ng-if="!sortedPaths || sortedPaths.length===0">(aucun fichier)</p>
</div>
