<div class="sidePanelContent">
    <ul ng-repeat="fileData in allTitles">
        <p class="summaryFileName">{{allTitles.length > 1 ? ($index+1) + '. ' : ''}}{{fileData.path.split('/').reverse()[0]}}</p>
        <li class="summaryTitles" ng-repeat="title in fileData.titles">
            <a class="summaryTitlesLink"
               ng-click="summaryScroll(fileData.path, title)">
                <span class="titleNumbering">{{allTitles.length > 1 ? ($parent.$index+1) + '.' : ''}}{{title.numbering}} - </span>
                <span class="titleLabel">{{title.text}}</span>
            </a>
        </li>
    </ul>
    <p ng-if="!allTitles || allTitles.length===0">(no title yet)</p>
</div>
