/*
 * Tooltip
 */
.tooltip-inner {
    background-color: #ADAAAA;
    color: #000
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ADAAAA;
}

.searchBox {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    animation: fadeIn 0.5s ease-out;
    right: 0px;
    padding: 5px;
    box-shadow: -6px 7px 10px 0 #c1c1c1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.searchBox-urlDiv {
    flex-grow: 2;
    display: flex;
}

.searchBox-keyword {
    flex-grow: 2;
}

.searchBox input {
    border: none;
    margin: 6px;
}

.searchBox input:focus {
    outline: none;
}

.searchBox button {
    background-color: transparent;
    color: black;
}

.searchBox button:hover {
    background-color: #eeefef;
    color: black;
}

.searchBox button.searchBox-close {
    opacity: 0.5;
}

.searchBox:hover button.searchBox-close {
    opacity: 1;
}

.outline {
    position: fixed;
    right: 0;
    width: 10px;
    top: 45px;
    display: flex;
    height: calc(100vh - 45px - 10px);
    flex-direction: column;
    background-color: #d9d9d9;
}

.outline .marker {
    opacity: 0.5;
    position: fixed;
    right: 0;
    width: 10px;
    height: 5px;
    cursor: pointer;
}

rd-section > .search {
    background-color: #CCA100;
}

rd-section > .warning {
    background-color: #cc002b;
}

/*
 * Loader
 */
.redigeLoader {
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 3;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
 * Sidepanel margin left
 */
.sidepanelActive {
    margin-left: 24vw !important;
}

.sidepanelNotActive {
    margin-left: auto;
}
