body {
    margin: auto;
}

.home {
    width: 100%;
    padding: 8px;
}

.home-menu {
    padding: 7px;
    width: 100%;
    margin-top: 8px;
}

.home-recent {
    padding: 8px;
    padding-left: 15px;
    width: 100%;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.home-recent-list {
    list-style: none;
    padding: 5px;
    width: 100%;
    overflow-wrap: normal;
    text-wrap: avoid;
}

.home-recent-list {
    list-style: none;
}

.home-recent-list li {
    width: 100%;
    padding: 5px;
}

.home-no-recents {
    width: 100%;
    text-align: center;
}

.home-recent-list li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.tab-header {
    display: flex;
    align-items: center;
    color: #555;
}

.tab-header img {
    margin-right: 8px;
}

.form-check {
    margin-left: 8px;
}

.form-check label {
    font-weight: normal;
}

input, select, .form-item {
    margin-left: 8px;
}

.advanced-options a {
    text-decoration: underline;
    float: right;
    color: grey;
}

.location {
    display: flex;
    align-items: flex-start;
    flex-grow: 2;
    margin-left: 8px;
}

.location button, .project-path {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
}

.location p, .project-name {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
}

.project-path {
    flex-grow: 2;
}

.clickable {
    cursor: pointer;
}