<!DOCTYPE html>
<html ng-app="redige-saas">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" ng-href="{{templateCSS}}">
    <link rel="stylesheet" ng-href="{{userCustomCSS}}">

    <!-- fileblock:css css -->
    <!-- endfileblock -->
</head>

<body>
<loader></loader>
<toolbar></toolbar>
<div class="hbox">
    <div ondragstart="return false;" ondrop="return false;">
        <redige-editor id="redige-editor" content=""></redige-editor>
        <outline></outline>
        <warnings></warnings>
    </div>
</div>
<script>window.$ = window.jQuery = require('./bower_components/jquery/dist/jquery.js');</script>
<!-- bower:js -->
<!-- endbower -->

<!-- fileblock:js app -->
<!-- endfileblock -->

</body>
</html>
