
.hbox {
    display: flex;
    flex-direction: row;
}

.hbox div {
    flex-grow: 1;
}

.sidePanel-new {
    width: 26px;
}

.sidePanel-new.active {
    width: 23vw;
}

.sidePanel-control {
    background-color: #3c3f41;
    margin-top: 75px;
    width: 100vh;
    padding: 0 1em;
    position: fixed;
    right: 100%;
    transform: rotate(270deg);
    transform-origin: right top;
}

.sidePanel-control button:hover {
    background-color: #707070;
}

.sidePanel-control button {
    background-color: #3c3f41;
    border: none;
    color: #d7d7d7;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 26px;
    padding: 0 12px;
    text-decoration: none;
    transition: 0.3s;
    outline: none;
}

.sidePanel-control button.active {
    background-color: #2d2f30;
}

.sidePanelWrapper {
    display: none;
}

.sidePanelWrapper.active {
    width: 25vw;
    display: block;
}

.sidePanelContent {
    height: calc(100vh - 75px);
    position: fixed;
    margin: 75px 0 0 26px;
    background-color: #2d2f30;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20vw;
    padding: 0 8px 0 15px;
}

.sidePanelContent ul {
    padding: 0;
}

.sidePanelContent a, .sidePanelContent a > span, .sidePanelContent p {
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.sidePanelContent a:hover,
.sidePanelContent a:hover span {
    color: #f1f1f1;
}

.sidePanelContent::-webkit-scrollbar {
    width: 8px;
}

.sidePanelContent::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.sidePanelContent::-webkit-scrollbar-track {
    background: #3c3f41;
    border-radius: 20px;
}

/* File Explorer */

file-explorer .sidePanelContent ul li ul {
    margin-left: 5px;
}

.sidePanelContent p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.sidePanelContent ul li {
    list-style: none;
}

/* Summary */

.summaryFileName {
    font-size: smaller;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    padding: 0;
}

.summaryTitles {
    list-style: none;
    font-size: small;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summaryTitles span {
    padding-left: 0;
    padding-right: 0;
}

.etabs-tab:not(.active) .etabs-tab-buttons {
    opacity: 0;
    pointer-events: none;
}

.summaryTitlesLink .titleNumbering {
    opacity: 0.5;
}

.summaryTitlesLink:hover .titleNumbering {
    opacity: 1;
}

.summaryTitlesLink .titleLabel {
    opacity: 0.9;
}

.summaryTitlesLink:hover .titleLabel {
    opacity: 1;
}