body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    page-break-before: always;
}

/* define the index as a one-page content */
.index {
    page-break-after: always;
}

.index > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.unmarked .index {
    padding-left: 10px;
}

/* anchor are used for numbering link with pdf index. Just make the normal stype */
.anchor {
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.link {
    color: #CB772F;
    text-decoration: underline;
}

.tocLink::after {
    content: leader('.') target-counter(attr(href), page);
}

.tocLink {
    color: black;
    text-decoration: none;
}

.unmarked {
    list-style-type: none;
}

.TOC_1 {
    padding-left: 10px;
}

.TOC_2 {
    padding-left: 20px;
}

.TOC_3 {
    padding-left: 30px;
}

.TOC_4 {
    padding-left: 40px;
}

.TOC_5 {
    padding-left: 50px;
}

.TOC_6 {
    padding-left: 60px;
}

:not(code) .hierarchical_0 {
    padding-left: 0;
}

:not(code) .hierarchical_1 {
    font-size: 36px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #757879;
}

:not(code) .hierarchical_2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-bottom: 1px dotted #757879;
}

:not(code) .hierarchical_3 {
    font-size: 24px;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 10px;
}

:not(code) .hierarchical_4 {
    font-size: 18px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

:not(code) .hierarchical_5 {
    font-size: 14px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 5px;
}

:not(code) .hierarchical_6 {
    font-size: 12px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ulist {
    margin-left: 2em;
    list-style: disc;
    display: list-item;
}

.olist {
    margin-left: 2em;
    list-style: decimal none;
    display: list-item;
}

.olist_0 {
    padding-left: 25px;
}

.olist_1 {
    padding-left: 40px;
}

.olist_2 {
    padding-left: 55px;
}

.olist_3 {
    padding-left: 70px;
}

.olist_4 {
    padding-left: 85px;
}

.olist_5 {
    padding-left: 100px;
}

.olist_6 {
    padding-left: 115px;
}

.ulist_0 {
    padding-left: 25px;
}

.ulist_1 {
    padding-left: 40px;
}

.ulist_2 {
    padding-left: 55px;
}

.ulist_3 {
    padding-left: 70px;
}

.ulist_4 {
    padding-left: 85px;
}

.ulist_5 {
    padding-left: 100px;
}

.ulist_6 {
    padding-left: 115px;
}

.list-sign {
    margin-right: 5px
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background: #FFFF00;
    color: #272822;
}

.comment {
    background: #87CEFA;
}

pre > code {
    font-weight: 500;
    font-size: 11px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.strike {
    text-decoration: line-through;
}

.blockquote {
    font-style: italic;
    font-size: 11px;
    line-height: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    color: #000000;
    border-left: 7px solid #b83131;
    background: #ebebeb;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

div.blockquote > p {
    margin-bottom: 0;
    margin-top: 0;
}

.image {
    text-align: center;
}

img {
    display: inline-block;
    -fs-fit-images-to-width: 90%;
    max-height: 400px;
}

.strike {
    text-decoration: line-through;
}
