<div class="sidePanel-new" ng-class="{active:isSummaryActive||isFileExplorerActive}">
    <div class="sidePanel-control">
        <button ng-class="{active:isSummaryActive}"
                ng-click="toggleSummary()">Summary
        </button>
        <button ng-class="{active:isFileExplorerActive}"
                ng-click="toggleFileExplorer()">File Explorer
        </button>
    </div>
    <file-explorer class="sidePanelWrapper"
                   ng-class="{active:isFileExplorerActive}"></file-explorer>
    <summary class="sidePanelWrapper"
             ng-class="{active:isSummaryActive}"></summary>
</div>