<div class="outline">
    <div ng-repeat="marker in markers"
         ng-click="outlineScroll(marker)"
         ng-style="{top:marker.top,backgroundColor:marker.color}"
         uib-tooltip="{{marker.message}}" tooltip-placement="left"
         class="marker">&nbsp;</div>
</div>
