<div id="searchBox" class="searchBox" contenteditable="false" ng-show="searchActive">
    <div class="searchBox-urlDiv">
        <input type="text"
               id="searchBoxInput"
               ng-model="searchInput"
               ng-keyup="onKeyUp($event)"
               ng-change="onSearch()"
               placeholder="Recherche"
               class="searchBox-keyword">
        <!--
                <button type="button" ng-click="onSearchPrevious()" class="searchBox-previous">
                    <i class="mdi mdi-arrow-up mdi-18px"></i></button>
                <button type="button" ng-click="onSearchNext()" class="searchBox-next">
                    <i class="mdi mdi-arrow-down mdi-18px"></i></button>
                    -->
    </div>
    <button ng-click="onRemove()" type="button" class="searchBox-close"><i class="mdi mdi-close mdi-18px"></i>
    </button>
</div>